html, body {padding: 0; margin: 0; overflow: hidden; background-color:#000;}
#content { background-color:#000; padding:25px; margin:0; height:100%; z-index:-1; overflow:hidden;}

/* text styles */
p { margin-top:5px; margin-bottom: 25px;}
.cursor { width:0.2em; height:1em; display:inline-block;}
.word, .cursor {
    color: #9f5;
    transition: color 1.25s;
    text-shadow: #ccffcc 0px 0px 15px;
    font: 2.5em 'VT323', monospace;
}

.word:hover {
  color: #f88;
}

.old {
  color: #0a0;
}

canvas {
    z-index:2;
    position:absolute;
    left:0;
    top:0;
}
